#scholarship {}
	#scholarship .header-bar { background-color: #eee; padding: 17px; text-transform: uppercase; color: #333; font-size: 15px; text-align: center; cursor: pointer;  }
	#scholarship .dropdown { display: none; }
		#scholarship .dropdown .container { padding-top: 15px; padding-bottom: 15px; }
		#scholarship .dropdown .info { background-color: #fff; font-size: 15px; }
			#scholarship .dropdown .info p { font-size: 15px; }
			#scholarship .dropdown .info ul { list-style-type: disc; margin-left: 40px; }
				#scholarship .dropdown .info ul li { list-style-type: disc; }
			#scholarship .dropdown .info .indent { font-size: 15px; text-indent: 20px; margin-bottom: 10px; }
			#scholarship .dropdown .info-header { color: #99bd5d; margin-bottom: 5px; }
			#scholarship .dropdown .info .left-column { float: left; width: 60%; padding-right: 10px; }
			#scholarship .dropdown .info .right-column { float: left; width: 40%; padding-left: 10px; }
				
				 /*#scholarship .dropdown .info .right-column img { width: 100%; height: auto; display: block; }*/
				
			@media (max-width: 768px) {
				#scholarship .dropdown .info .left-column { float: none; padding: 0; width: auto; margin-bottom: 20px; }
				#scholarship .dropdown .info .right-column { float: none; padding: 0; width: auto; }
					#scholarship .dropdown .info .right-column img { max-width: 446px; margin: auto; }
			}
		#scholarship .dropdown .apply {
            background-color: #eee;
            margin-top: 30%;

        }

#scholarship form {}
	#scholarship form .parsley-errors-list { position: relative; top: -20px; }
	#scholarship form .legend-subtext { font-size: 16px; margin-left: 20px; }

.form-style-5{
    max-width: 1200px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="file"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}

.dual-line {
	min-width: 50%;
	float: left;
	padding: 0px 5px 0px 5px;
	
}