#header {
	background: url(../images/header/slider-background.jpg) no-repeat center center #3b91ca;
	background-size: cover;
	position: relative;
}

.overlay-color:before {
	background-color: #3b91ca;
	z-index: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.9;
}

.header-caption {
	color: #ffffff;
	padding-top: 170px;
	padding-bottom: 130px;
}

.header-caption h1 {
	font-size: 70px;
	font-weight: 400;
	color: #ffffff;
}

.header-caption h1 b {
	font-weight: 700;
}

.header-caption p {
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
	margin-top: 30px;
}

#header .row {
	position: relative;
}

.header-images {
	position: absolute;
	right: 40px;
	bottom: 0;
}

.header-images img {
	max-height: 520px;
}

.go-bottom {
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1;
}

.go-bottom a {
	color: #ffffff;
	background-color: #02a8f4;
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #fff;
	border-radius: 100%;
	line-height: 58px;
	text-align: center;
	font-size: 22px;
}

.go-bottom a i {
	animation: slideInDown 2s infinite;
}


/*-- Hader Slider--*/

.single-slider {
	height: 100vh;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.single-slider:before {
	content: "";
	background: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.slider-title {
	display: table;
	height: 100%;
	text-align: center;
	width: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.slider-title h2 {
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: capitalize;
}

.slider-title h2 span {
	color: #02a8f4;
}

.slider-title p {
	color: #fff;
	font-size: 16px;
}

.owl-item.active .slider-title-animation {
	animation: slideInDown 0.5s;
}

.owl-item.active .slider-animation-up {
	animation: slideInUp 0.5s;
}

.slider-active .owl-nav div {
	background: #008CBA;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	opacity: 0;
	color: #fff;
}

.slider-active:hover .owl-nav div.owl-next {
	left: auto;
	right: 70px;
	opacity: 1;
	transition: .9s;
}

.slider-active:hover .owl-nav div.owl-prev {
	right: auto;
	left: 70px;
	opacity: 1;
	transition: .9s;
}

.slider-active .owl-dots {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}

.slider-active .owl-dot {
	background: #008cba none repeat scroll 0 0;
	display: inline-block;
	height: 15px;
	margin: 0 2px;
	transition: all 0.5s ease 0s;
	width: 15px;
	border-radius: 40px;
}

.slider-active .owl-dot.active {
	background: #fff none repeat scroll 0 0;
}


/*-- Video --*/

.video-single {
	height: 100vh;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.video-single:before {
	content: "";
	background: rgba(0, 0, 0, .4);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.video-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.video-title {
	display: table;
	height: 100%;
	text-align: center;
	width: 100%;
}

.video-title h2 {
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: capitalize;
}

.video-title h2 span {
	color: #02a8f4;
}

.video-title p {
	color: #fff;
	font-size: 16px;
}


/* -- parallax background -- */

.parallax {
	height: 100vh;
	background-size: cover;
	position: relative;
	z-index: 1;
	background-attachment: fixed;
}

.parallax:before {
	content: "";
	background: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}


/*-- Amimated Headline --*/

.animation-header-text span {
	padding: 0px!important;
	text-transform: uppercase;
}


/*-- particles effice --*/

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 5;
}